
body {
    font-family: sans-serif;
    background-color: #44e3d3;
    padding: 20px;
    color: #000000;
}


nav {
    margin-bottom: 40px;
    background-color: #5985fe;
}
nav a {
    margin-right: 15px;
    color: rgb(15, 15, 120);
}


.contenedor-flex {
    display: flex;         
    flex-wrap: wrap;    
    justify-content: rgb(157, 35, 35);
    gap: 15px;             
}

.tarjeta {
    border: 1px solid black;
    padding: 10px;
    width: 200px;          
    background-color: white;
}


.resaltado {
    background-color: rgb(0, 255, 42); 
    border: 2px solid rgb(18, 154, 3);
}


form {
    margin-bottom: 20px;
    border: 10px dashed rgb(44, 15, 159);
    padding: 15px;
    max-width: 500px;
    
}

form input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 15px;
}

th, td {
    border: 1px solid #000000; 
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgb(74, 147, 186);
}


button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgb(160, 216, 246);
}
input, table, .tarjeta, button, form {
    border-radius: 8px;
}
.tarjeta, form {
    border: 1px solid #e5e7eb; /* Un gris casi invisible */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05); /* Sombra muy suave */
    background-color: rgb(8, 92, 171);
}
    